h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body{
    font-family:'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* HEADER */

.page-header {
   
    border-bottom: 1px solid #e7e9fc;
}

.container { 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-nav {
    display: flex;
    align-items: center; 
}

.menu {
    display: flex;
    gap: 40px;
   
   }

.logotype {  
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
    margin-right: 76px;
}

.logotype-span {
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link {    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    padding: 24px 0;
 }

.menu-contacts {
    display: flex;
    gap: 40px;
    padding-top: 24px; 
    padding-bottom: 24px;
}

.menu-list {
    font-style: normal;   
}

.menu-link-contacts {    
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5; /* 150% */
   letter-spacing: 0.02em;
   color: var(--SLATE, #434455);
    gap: 40px;
    margin-left:auto;
    justify-content: flex-end;
}

.menu-link-contacts:hover,
.menu-link-contacts:focus,
.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

/*  HERO SECTION*/

.hero-images {
    background-color: #2E2F42;
    height: 600px;
    flex-shrink: 0;
    padding-top: 36px;
    padding-bottom: 60px;
    padding: 188px 0
}

.hero-images-title {  
    text-align: center; 
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em; 
    color: var(--WHITE, #FFFFFF);
    max-width: 496px; 
    height: 120px;
    margin-left: auto;
    margin-right: auto;
 }
   
.hero-images-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFFFFF);
    background-color: #4D5AE5;
    display: block; 
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none; 
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    }

    .hero-images-title-button:hover,
    .hero-images-title-button:focus {
        background-color: #404BBF;
    }
    /* business-rules */

    .menu-business {
        display: flex;
        gap: 24px;
    }

    .business-rules-list {
        display: flex;
        width: 264px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex-grow: 1;
        display: flex;
        width: calc((100% - 3 * 24px) / 4); 
    }

    .business-rules-main {    
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2; /* 120% */
       letter-spacing: 0.02em;
       color: var(--NAVY-BLUE, #2E2F42);
       margin-bottom: 8px; 
    }
    
    .business-rules-text {
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5; /* 150% */
       letter-spacing: 0.02em;
    }
    
    /* EXPERTS */

    .experts-list {
        display: flex;
        gap: 24px;
    }
   
    .experts-name  {
        background-color: var(--CLOUD, #F4F4FD);
    }

    .experts-team {    
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11; /* 111.111% */
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--NAVY-BLUE, #2E2F42);
      margin-bottom: 72px; 
    }

    .experts-list-tab {
        background-color: #FFFFFF;
        width: 240px;
        height: 260px;
        display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 0px 0px 4px 4px;
    }

    .experts-cont {
        padding: 32px 0;
    }

    .experts-img-name {   
     text-align: center;
     font-size: 20px;
     font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 8px;
    }

    .experts-role {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em; 
    }

    /* portfolio */

    .portfolio-list {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-cont {
        padding: 32px 16px;
        border: 1px solid #e7e9fc; 
        border-top: none; 
    }

    .portfolio-title {
       text-align: center;
       font-size: 36px;
       font-weight: 700;
       line-height: 1.11; /* 111.111% */
       letter-spacing: 0.02em;
       text-transform: capitalize;
       color: var(--NAVY-BLUE, #2E2F42);
       margin-bottom: 72px;
    }

   .portfolio-menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
   }


    .portfolio-tab {
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2; /* 120% */
       letter-spacing: 0.02em;
       color: var(--NAVY-BLUE, #2E2F42);
       margin-bottom: 8px;
    }

    .portfolio-role {
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5; /* 150% */
       letter-spacing: 0.02em;
    }

    /* Footer */

    .footer-main {
        flex-shrink: 0;
        background: var(--NAVY-BLUE, #2E2F42);
        padding: 100px 0;
    }

    .logo-link {
        font-family:"Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--IRIS, #4D5AE5);
        display: inline-block;
        margin-bottom: 16px; 
    }

    .logo-span {
        color: var(--CLOUD, #F4F4FD);
        
    }
    .page-footer {    
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5; /* 150% */
       letter-spacing: 0.02em;
       color: var(--CLOUD, #F4F4FD);
       width: 264px;
    }